@model DWA_AU24_Lab2_Group_11.Models.PlantingSchedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlantingSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crop.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptimalPlantingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptimalPlantingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
