@model DWA_AU24_Lab2_Group_11.Models.HarvestTracking

@{
    ViewData["Title"] = "Harvest Details";
}

<h1>Harvest Details</h1>

<div>
    <h4>Harvest Tracking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Planting Schedule ID
        </dt>
        <dd class="col-sm-10">
            @Model.PlantingSchedule.Id
        </dd>

        <dt class="col-sm-2">
            Crop Name
        </dt>
        <dd class="col-sm-10">
            @Model.PlantingSchedule.Crop?.Name
        </dd>

        <dt class="col-sm-2">
            Planting Date
        </dt>
        <dd class="col-sm-10">
            @Model.PlantingSchedule.PlantingDate.ToShortDateString()
        </dd>

        <dt class="col-sm-2">
            Expected Harvest Date
        </dt>
        <dd class="col-sm-10">
            @Model.PlantingSchedule.ExpectedHarvestDate?.ToShortDateString()
        </dd>

        <dt class="col-sm-2">
            Countdown to Harvest
        </dt>
        <dd class="col-sm-10">
            @Model.DaysUntilHarvest
        </dd>

        <dt class="col-sm-2">
            Harvest Status
        </dt>
        <dd class="col-sm-10">
            @if (Model.HarvestDate.HasValue)
            {
                <span class="text-success">Harvested on @Model.HarvestDate.Value.ToShortDateString()</span>
            }
            else
            {
                <span class="text-warning">Not harvested yet</span>
            }
        </dd>
    </dl>
</div>

<div>
    @if (!Model.HarvestDate.HasValue)
    {
        <form asp-action="MarkAsHarvested" asp-route-id="@Model.Id" method="post" style="display:inline;">
            <button type="submit" class="btn btn-success">Mark as Harvested</button>
        </form>
    }
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
