@model IEnumerable<DWA_AU24_Lab2_Group_11.Models.HarvestTracking>

@{
    ViewData["Title"] = "Harvest Tracking";
}

<h1>Harvest Tracking</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Planting Schedule ID
            </th>
            <th>
                Crop Name
            </th>
            <th>
                Planting Date
            </th>
            <th>
                Expected Harvest Date
            </th>
            <th>
                Countdown to Harvest
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantingSchedule.Id)
                </td>
                <td>
                    @item.PlantingSchedule.Crop?.Name
                </td>
                <td>
                    @item.PlantingSchedule.PlantingDate.ToShortDateString()
                </td>
                <td>
                    @item.PlantingSchedule.ExpectedHarvestDate?.ToShortDateString()
                </td>
                <td>
                    @item.DaysUntilHarvest 
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>